.grey-text{
  color :rgba(0, 0, 0, 0.54);
}
.grey{
  background-color :rgba(0, 0, 0, 0.54) !important;
}
.white-text{
  color: #fff;
}
.white{
  background-color: #fff !important;
}
.red-text{
  color: #d32f2f !important;
  opacity: 0.9;
}
.red{
  background-color: #d32f2f !important;
  opacity: 0.9;
}
.green-text{
  color: #00c853 !important;
}
.green{
  background-color:#00c853  !important;
}
.purple{
  background-color: #ab47bc !important;
}
.purple-text{
  color: #ab47bc !important;
}