.shadow-1{
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.shadow-2{
  box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}
.shadow-3{
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.3);
}
.shadow-4{
  box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
}
.shadow-bottom{
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.26);
}
i{
  vertical-align: middle;
}
.list{
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.pointer{
  cursor: pointer;
}
.errors{
  color: #f44336;
  font-weight: 700;
  float: right;
  padding-right: 1.5rem;
  span{
      color: #f44336;
      font-weight: 700;
      font-size: 0.85rem;
  }
}
.bold{
  font-weight: 700;
}
.pull-right{
  float: right;
}
.pull-left{
  float: left;
}
.text-left{
  text-align: left;
}
.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
.relative{
  position: relative;
}