$direction:ltr;
$fontFamily:'Roboto';
$backgroundColor:#f2f2f2;
$primary:#555758;
// $primary:#009BC9;
$secondaryColor:#8FB959;
$titleColor:#555758;
$textColor:rgba(0, 0, 0, 0.54);


/* Layout */
/* header gradient  */
$headerColor:#555758;
$secondHeaderColor:$headerColor + 15 ;
/*---------------------------------*/
$sidenav:65px;
$sidenavExpand:240px;