<!--The content below is only a placeholder and can be replaced.-->
<div class="movie-container" [class.example-is-mobile]="mobileQuery.matches" >
      <mat-toolbar color="primary" class="movie-toolbar">
          <button mat-icon-button (click)="snav.toggle()">
            <mat-icon>menu</mat-icon>
          </button>
          <h1 class="movie-app-name">Movie App</h1>
        </mat-toolbar>
      
        <mat-sidenav-container class="movie-sidenav-container"
                               [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
          <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                       [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
            <mat-nav-list class="mat-nav">
                <span><a mat-list-item routerLink="/">Home</a></span>
                <span><a mat-list-item routerLink="/movie">Movie</a></span>
            </mat-nav-list>
          </mat-sidenav>
          <mat-sidenav-content>
              <mat-card>
                <router-outlet></router-outlet>
              </mat-card>
          </mat-sidenav-content>
        </mat-sidenav-container>
</div>



